<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EndevinaColor</servlet-name>
        <servlet-class>cat.ioc.m7.servlets.EndevinaColor</servlet-class>
        <init-param>
            <param-name>color</param-name>
            <param-value>green</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HolaMonXML</servlet-name>
        <servlet-class>cat.ioc.m7.servlets.HolaMonXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publicitat</servlet-name>
        <servlet-class>cat.ioc.m7.servlets.Publicitat</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>http://www.institutmarianao.es/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Publicitat2</servlet-name>
        <servlet-class>cat.ioc.m7.servlets.Publicitat2</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>http://www.institutmarianao.es/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>EndevinaColor2</servlet-name>
        <servlet-class>cat.ioc.m7.servlets.EndevinaColor2</servlet-class>
        <init-param>
            <param-name>color</param-name>
            <param-value>green</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndevinaColor</servlet-name>
        <url-pattern>/EndevinaColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolaMonXML</servlet-name>
        <url-pattern>/HolaMonXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicitat</servlet-name>
        <url-pattern>/Publicitat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicitat2</servlet-name>
        <url-pattern>/Publicitat2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndevinaColor2</servlet-name>
        <url-pattern>/EndevinaColor2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
